html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: gray;
}
ul{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
body {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    position: relative;
}
#preview{
    position:relative;
    width: 100%;
    
    /*要解除 全ページ表示に必要*/
    overflow-y: scroll;
    
    -webkit-flex: 1;
    background-color: #dddde3;
}
.pages{
    /*pagesにtranslateを動的にかけて画面中央ぞろえにする*/
    /*translateの限界値は （幅-幅*スケール）/2 px */
    
    /*要解除 改ページが無効になる*/
    position: absolute;
    
    /*要解除 改ページが無効になる*/
    display:-webkit-flex;
    
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
     -webkit-transform-origin: 50% 0; 
    
    page-break-after: always;
    
}

/*印刷紙に相当*/
.page_container{
    width: 210mm;
    height: 297mm;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.posts_wrapper{
    position: relative;
    background-color: transparent;
    border-radius: 6px;
    padding: 15px;
    display: -webkit-flex;
    -webkit-flex: 0 1 auto;
    -webkit-flex-flow: column wrap;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    box-sizing: border-box;
    /*-webkit-transition: all 200ms ease;*/
}
/*背景だけにフィルターなどを掛ける場合の記述方法*/
/*
.posts_wrapper:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-background-size: 40px 40px;
    background-color: rgba(44, 71, 98, .3);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
    -webkit-filter:blur(10px);
}
*/
.posts {
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-flex: 1 0 auto;
    justify-content: center;
    width: 540px;
    z-index: 1;
    position: relative;
}
.post_container {
    position: relative;
    
    /*ポストを縮小して配置する*/
    /*-webkit-transform-origin: 50% 0;
    -webkit-transform: translate(-50%,0) scale(0.3);
    position: absolute;
    left: 50%;
    width: 960px;
    background: red;*/
}

/*Modify original css*/
.post_avatar {
    display: none;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    position: absolute;
    left: -85px;
    top: 0;
}
.post_avatar:after{

}
.post_avatar > img{
    display: block;
    border-radius: 6px;
}
.post_container:after {
    display: none;
    content: '';
    position: absolute;
    top: 32px;
    left: -20px;
    margin: -9px 0 0 13px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff;
    background: transparent;
    z-index: 2;    
}
.post_content {
    margin-bottom: 10px;
}
.post_title{
    margin-bottom: 10px;
}
.quote p:first-child,
.quote p:last-child {
    display: inline;
}
table {
    border-collapse: collapse;
    border-width: 0;
}
table th, table td {
    padding: 0;
}
.clearfix:after{
    clear: both;
}

/*Color and Fonts*/
body {
    background: #fff;
    font: normal 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
    color: #444;
}
.post_container {
    background: #fff;
    padding: 15px 20px;
    border-radius: 6px;
    display: list-item;
}
.post_header a{
    text-decoration: none;
    color: #a7a7a7;
}
.post_content a,
.post_footer a{
    color: #444;
}

/*Header*/
.post_header{
    font-size: 13px;
    margin: -3px 0 13px;
    line-height: 20px;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}
.post_info, .post_source {
    color: #a7a7a7;
}
.post_info {
    font-weight: bold;
    float: left;
    max-width: 325px;
    padding-right: 10px;
}
.post_info .reblog_icon{
    display: inline-block;
    height: 0;
    width: 0;
    padding: 10px;
    overflow: hidden;
    background: url('/img/reblog.svg') no-repeat 3px;
    opacity:.31;
    text-indent: -999em;
    vertical-align: -5px;
    margin: 0 2px;
}
.post_source_link {
    overflow: hidden;
    display: block;
    float: right;
    max-width: 100px;
    text-overflow: ellipsis;
    background: 100% 50% no-repeat;
    word-wrap: normal; 
    white-space: nowrap;
}
.post_source_name_prefix {
    display: block;
    float: right;
    cursor: default;
    padding-right: 2px;
}

/*Content*/
.post_body{
    display: none;
    padding-top: 2px;
    padding-bottom: 1px;
}
.post_content p{
    margin: 0 0 10px 0;
}
.post_content img {
    display: block;
    max-width: 100%;
}
.post_content blockquote {
    margin: 10px 0 10px 10px;
    padding-left: 15px;
    border-left: solid 4px #dcdcdc;
    border-left: solid 4px rgba(0,0,0,0.12);
}
.link_button .link_title {
    display: block;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-bottom: 8px;
}
.link_button {
    color: #fff;
    min-height: 130px;
    border-radius: 3px;
    border: 1px solid #56bc8a;
    background-color: #56bc8a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
}
.link_button .link_text_container {
    height: 100%;
    padding: 10px 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.link_button .link_text_outer {
    display: table;
    width: 100%;
    min-height: 100%;
    height: 108px;
}
.link_button .link_text_outer .link_text {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
.link_button .link_title, .link_button .link_source {
    color: #fff;
    max-width: 460px;
    overflow: visible;
    text-overflow: ellipsis;
}
.link_button .link_text a.link_title:after,
.link_button .link_title:after {
    content: '';    
    display: inline-block;
    vertical-align:-.05em;
    padding: .4em;
    margin-left: 0.4em;
    background: url('/img/arrow_right.svg') no-repeat;
    background-size: contain;
    opacity:.7;
}
.link_button .link_source {
    display: block;
    font-size: 11px;
    text-decoration: none;
    font-size: 12px;
    color: rgba(255,255,255,0.7);
    overflow: hidden;
}
.link_title {
    font-weight: bold;
}
.link_source {
    font-weight: normal;
}
.post_title {
    font-family: georgia,serif;
    font-weight: normal;
    color: #343434
}
.post_content .post_title.extra_large, .post_title.extra_large big, .post_title.extra_large small {
    font-size: 48px;
    line-height: 54px
}
.post_title.large, .post_title.large big, .post_title.large small {
    font-size: 36px;
    line-height: 42px
}
.post_title.medium, .post_title.medium big, .post_title.medium small {
    font-size: 24px;
    line-height: 29px
}
.post_title.small, .post_title.small big, .post_title.small small {
    font-size: 16px;
    line-height: 21px
}
.post_media {
    margin: 13px 0 10px 0;
}
.photoset .photoset_row {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px
}
.photoset .photoset_row .photoset_photo {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.photoset .photoset_row .photoset_photo img {
    /* max-width: none; */
}
.retro_video_preview {
    position: relative;
    width: 150px;
    height: 150px;
    min-height: 100px;
    margin: 0 17px 2px 0;
    overflow: hidden;
}
.retro_video_preview .retro_thumbnail {
    background-color: #000;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
}
.post_body .inline_image {
    max-width: 125px;
    height: auto!important;
}

/*Footer*/
.post_footer{
    margin: 12px -20px 4px -20px;
    padding-left: 20px;
    height: 45px;
    font-weight: bold;
    color: #969696;
    font-size: 13px;
    line-height: 45px; 
    background: #f4f4f4;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

}

/*GIF Preview*/
.gif .posts_wrapper,
.gifdif .posts_wrapper{
    width: 100%;
}
.gif .posts,
.gifdif .posts{
    width: 100%;
    padding: 0;
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-content: center;
}
.gif .posts_wrapper,
.gifdif .posts_wrapper{
    -webkit-filter: none;
}
#loading{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 100px;
    height: 1em;
    margin: auto;
    z-index: 10;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
#loading.none{
    display: none;
}
.block{
    width:20px;
    height:20px;
    margin: 0 5px;
    border-radius: 50%;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
 }
#b_1{
  -webkit-animation-delay: .3s;
 }
#b_2{
  -webkit-animation-delay: .4s;
}
#b_3{
  -webkit-animation-delay: .5s;
}
@-webkit-keyframes loading{
    0% {background-color:#FFFFFF;}
    50% {background-color:#999999;}
    100% {background-color:#FFFFFF;}
}
.frame{
    -webkit-flex: 0 1 auto;
    max-height: 13%;
    margin: 0 0.5% 1% 0.5%;
}

/*Controls*/
#controlArea {
    background-color: rgba(44, 71, 98, 1); 
    height: 55px;
    padding: 0 20px 0 5%;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

#controlArea label,
#controlArea button{
    cursor: pointer;
}

.controls{
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

.controls label{
    -webkit-flex: 0 0 auto;
}

#bg_fill{
    -webkit-flex: 0 0 100px;
}
#bg_area{
    -webkit-flex: 0 0 100px;
    margin-left: 30px;
}
#optionCtrl{
    -webkit-flex: 0 0 80px;
    margin-left: auto;
}
#printCtrl{
    -webkit-flex: 0 0 50px;
    position:relative;
}

input[type="radio"],
input[type="checkbox"]{
    display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label{
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    opacity: 0.65;
}
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
    opacity: 1;
}
.controls label:hover{
    background-color: rgba(255,255,255,0.2);
}
.controls label:active{
    background-color: rgba(255,255,255,0.4);
}
#bg_normal + label{
    background-image: url("img/fill_normal.svg");
}
#bg_stripe + label{
    background-image: url("img/fill_stripe.svg");
}
#bg_dot + label{
    background-image: url("img/fill_dot.svg");
}
#bg_full + label{
    background-image: url("img/area_full.svg");
}
#bg_min + label{
    background-image: url("img/area_min.svg");
}
#bg_none + label{
    background-image: url("img/area_none.svg");
}
#op_note + label{
    background-image: url("img/op_note.svg");
}
#op_avatar + label{
    background-image: url("img/op_avatar.svg");
}
#op_trim + label{
    background-image: url("img/op_trim.svg");
}
#printBtn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin:auto 0;
    width: 40px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,1);
    background-image: url("img/print.svg");
    background-position: center;
    background-size: 49%;
    background-repeat: no-repeat;
}
#printBtn:hover{
    background-color: #529ecc;
}
#printBtn:active{
    /*background-color: rgba(255,255,255,0.8);*/
    background-color: #6eb0d9;
    /*opacity: 0.7;*/
}

/* Options */
.bg_fill_normal{
    background-color: rgba(44, 71, 98, 1); 
}
.bg_fill_stripe{
    -webkit-background-size: 40px 40px;
    background-color: rgba(44, 71, 98, .3);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
}
.bg_fill_dot{
    background: rgba(44, 71, 98, .3);
    background-image: -webkit-radial-gradient(rgba(255, 255, 255, .3) 35%, rgba(255, 255, 255, .0) 38%, transparent 38%),
                      -webkit-radial-gradient(rgba(255, 255, 255, .3) 35%, rgba(255, 255, 255, .0) 38%, transparent 38%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    background-repeat: repeat;
}
.bg_area_full{
    border-radius: 0;
    width: 100%;
    -webkit-flex: 1 1 auto;
}
.bg_area_min{
    width: initial;
}
.bg_area_none{
    background-color: transparent;
    background-image: none;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,.3));
}
.op_note .post_body{
    display: block;
}
.op_avatar .post_avatar,
.op_avatar .post_container:after{
    display: block;
}
.op_avatar.posts_wrapper{
    padding-left: 40px;
}
.op_avatar .posts{
    padding-left: 60px;
}
.op_trim .frame{
    border: dotted 1px #666;
    box-sizing: border-box;
    margin: 0;
}
.op_trim.bg_area_none{
    -webkit-filter: none;
}


/* Optimize large posts by type */
/*
post_content
post_media photoset photoset_row photoset_row_1
post_media a img
post_title quote
    TODO 長い段落に開業設定を動的に当てる仕組み　column-coun、word-breakhite-space、white-spaceを使う
post_body
*/

.largePost .post_media .photoset{
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; /*should adjust*/
    -webkit-justify-content: center; /*should adjust*/
}

.largePost .post_media .photoset .photoset_row,
.largePost .post_media .photoset .photoset_row img{
    height: auto !important;
    width: auto !important;
}

.largePost .post_media .photoset .photoset_row{
    max-width: 50%; /*should adjust*/
    -webkit-flex: 1 1 auto;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; /*should adjust*/
    -webkit-justify-content: center; /*should adjust*/
}

.largePost .post_media .photoset .photoset_row .photoset_photo{
    -webkit-flex: 1 1 30%;
}

.largePost .post_media .photoset .photoset_row img{
    max-width: 100%;
}

.largePost .post_title,
.largePost .post_body{
    font-size: 11pt; /*印刷用ルート文字サイズを参照*/
    line-height: 1.6em;
    -webkit-column-count: 2;
}

/*Printing*/
@media print{
#preview{
    overflow-y: visible;
    background-color: transparent;
}
.pages{    
    /*要解除 改ページが無効になる*/
    position: static;
    
    /*要解除 改ページが無効になる*/
    display: block;
}
#controlArea{
    display: none;
}
}